@model IEnumerable<Hikayematik.Models.Deyim_hikaye>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Deyim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anlam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ornek)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Deyim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anlam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ornek)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
