@model Hikayematik.Models.Biyografi

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Biyografi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dogum_tarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dogum_tarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.olum_tarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.olum_tarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meslek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meslek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.biyografi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.biyografi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
